<% if user_signed_in? %>
  <%= turbo_stream_from "posts_list" %>

  <div class="mb-12 text-center">

    <%= link_to "+", new_post_path, class: "btn btn-outline btn-sm btn-primary", data: {turbo_frame: "modal"} %>
  </div>

  <div id="posts">
    <% @posts.each do |post| %> 
      <%= render partial: "posts/post", locals: {post: post, user: current_user} %>
    <% end %>
  </div>
<% else %>
  <br />
  <p class="text-center  ">Please logged in <%= link_to "here", new_user_session_path, class: "underline " %></p>
<% end %>
