<nav class="title mb-8 border-y-2px-2 sm:px-4 py-2.5 rounded ">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <%= link_to root_path, class: "flex items-center" do %>
      <span class="self-center text-xl font-semibold">Insta Clone</span>
    <% end %>
    <div class="w-auto">
      <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
        <li>
          <% if user_signed_in? %>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-outline btn-secondary" %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path, class: "text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" %>
            <span class="inline">|</span>
            <%= link_to "Sign up", new_user_registration_path, class: "text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
